.body {
  width: 100%;
  height: auto;
}

.first {
  padding-top: 70px;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: #2a2a2a;
}

.first__info {
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  padding-left: 80px;
}

.first__info h1 {
  font-size: 64px;
  color: #bbbbbb;

  margin-bottom: 40px;
}

.first__info p {
  font-family: Montserrat;
  font-size: 24px;
  color: #ffffff;

  margin-bottom: 30px;
}

.first__btn {
  width: 400px;
  height: 100px;

  font-family: Montserrat;
  font-size: 38px;
  font-weight: 700;
  border-radius: 10px;

  background-color: #da8414;
}

.acoustic__model {
  width: 50% !important;
  height: 100% !important;
  z-index: 0 !important;
}

/* /////////// */

.second {
  width: 100%;
  height: 100vh;

  background-color: #bbbbbb;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.second__info {
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  padding-left: 80px;
}

.second__info h1 {
  font-size: 64px;
  color: #2a2a2a;

  margin-bottom: 40px;
}

.second__info p {
  font-family: Montserrat;
  font-size: 24px;
  color: #ffffff;

  margin-bottom: 30px;
}

.second__btn {
  width: 400px;
  height: 100px;

  font-family: Montserrat;
  font-size: 38px;
  font-weight: 700;
  border-radius: 10px;

  background-color: #da8414;
}

.acoustic__model {
  width: 50% !important;
  height: 100% !important;
  z-index: 0 !important;
}

.electric__model {
  width: 50% !important;
  height: 100% !important;
  z-index: 0 !important;

  margin-top: 0px !important;
}

.bass__model {
  width: 50% !important;
  height: 100% !important;
  z-index: 0 !important;

  margin-top: 0px !important;
}

.third {
  width: 100%;
  height: 100vh;

  background-color: #2a2a2a;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.third__info {
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  padding-left: 80px;
}

.third__info h1 {
  font-size: 64px;
  color: #bbbbbb;

  margin-bottom: 40px;
}

.third__info p {
  font-family: Montserrat;
  font-size: 24px;
  color: #ffffff;

  margin-bottom: 30px;
}

.third__btn {
  width: 400px;
  height: 100px;

  font-family: Montserrat;
  font-size: 38px;
  font-weight: 700;
  border-radius: 10px;

  background-color: #da8414;
}
